.tweet .actions a {
	font-size: 12px;
}

div.stream-item:not(.open) div.tweet.original-tweet div.stream-item-header ul.actions {
	width: 100%;
	padding-left: 0;
	background-image: none;
	text-align: right;
}

div.stream-item:not(.open) div.tweet.original-tweet div.stream-item-header ul.actions li {
	background-color: #fff;
}

body .original-tweet .stream-item-header li.ril-fade-action {
	background-color: transparent !important;
	display: inline;
}

.original-tweet .stream-item-header li.ril-fade-action {
	background-image: url(twitter_web_sprite_bgs.png) !important;
	background-position: 0 -240px !important;
	background-repeat: repeat-x !important;
	width: 45px !important;
	display: inline-block !important;
	position: relative;
	right: -5px;
}

a.pocket-action {
	text-decoration: none !important;
}

.open .original-tweet .stream-item-header a.pocket-action,
.expando-profile-popup a.pocket-action {
	display: none;
}

a.pocket-action i{
	-webkit-mask-image: url(twitter-mask.png);
	background-image: none;
	width: 16px;
	height: 16px;
	margin-right: 1px;
}

.slideshow-tweet .a.pocket-action i, .route-permalink a.pocket-action i{
	-webkit-mask-image: url(twitter-mask-large.png);
}

.slideshow-tweet a.pocket-action i {
	background-position: -5px -55px;
}

.slideshow-tweet a.pocket-action:hover i {
	background-color: #fff !important;
}

a.pocket-action b {
	margin-left: 2px;
}

a.pocket-action:hover b {
	text-decoration: underline;
}