body {
	font-size: 10px;
}

#popup-body {
	width: 357px;
	overflow-x: hidden;
	font-family: arial;
	font-size: 12px;
	background-image: url('../icon-48.png');
	background-repeat: no-repeat;
	background-position: right bottom;
}

#options-body {
	width: 800px;
	font-size: 12px;
	overflow-x: hidden;
	font-family: arial;	
	margin:auto;
	background-image: url('../icon-48.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-top:30px;
	padding:10px;
}

#options-body #settings {
	width: 357px;		
	margin:auto;		
}

div#footer {
	width: 357px;		
	margin:auto;		
}

.heading {
	padding-top: 2px;
	color: darkgreen;
	margin-bottom: 5px;
	font-size: 15px;
	font-family: segoe ui, Arial, sans-serif;
	width: 350px;
	display: inline-block;
}

.profile,.profile a {
	font-size: 11px;
	color: darkgreen;
	text-align: right;
	float: right;
	padding-top: 2px;
	font-family: arial, sans-serif;
	display: inline-block;
}

#tinyeditor {
	background-color: white;
}

.letter {
	width: 35px;
	color: darkgreen;
	float: left;
	display: inline-block;
}

.count {
	width: 25px;
	color: darkgreen;
	float: right;
	text-align: right;
	display: inline-block;
	padding-right: 10px;
}

span.value{
display:none;
}

.wrapper {
	border-right: 1px darkgreen solid;
	height: 20px;
}

.depleted .letter,.depleted .count{
	opacity:0.45;
}


.vccnt {
	color: darkgreen;
}

#trackerstat {
	color: darkgreen;
}

div#lexwstracker {
	padding-left: 0px;
	padding-right: 0px;
}

.sendWord {
	margin-top: 10px;
	font-size: 12px;
	color: darkgreen;
}

.sendScore {
	margin-top: 10px;
	font-size: 12px;
	color: red;
	font-weight: bold;
}

#tabs {
	overflow: auto;
}

#notestatus {
	float: left;
	width: 100px;
}

#saveWarning
{
	color: red;
}

div#toolbar img#closeButton,img#helpButton {
	float: right;
}
div#toolbar img#refreshButton,img#optionsButton {
	float: left;
}

#btnHolder {
	float: right;
	text-align: right;	
}

#version {
	text-align: center;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	background: green;
	color: white;
}

#options-version {
	width:100px;
	text-align: center;
	background: green;
	color: white;
	float:right;
}

div#notesListControls
{
	float:right;
}

button#deleteSelected,button#deleteAll
{
	float:right;
}

.ui-tabs .ui-tabs-nav li a img {
	float: left;
	margin-right: 5px
}

td.details {
	background-color: white !important;
	border: 1px solid green;	
}